* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Oceanwide-Semibold';
    src: url('/fonts/Oceanwide-Semibold.otf') format('opentype');
}

body {
    background-color: #f5f5f5;
    font-family: 'Oceanwide-Semibold', sans-serif;
}

.pptext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    position: relative;
    z-index: 999;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

nav.scrolled {
    position: fixed;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.059);
    top: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    z-index: 1000;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.396);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, margin-top 0.2s ease;
}


.navpp {
    display: flex;
    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    align-items: center;
    justify-content: left;
}

.social-dv {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    width: 200px;
    align-items: center;
    justify-content: right;
}

.pp-logo {
    height: 50px;
    display: flex;
    color: rgb(236, 236, 236);
    margin-right: 9px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: rgb(46, 46, 46);
    border-radius: 50%;
}

.pptext {
    font-weight: 600;
    font-size: 18px;
}

.ppversion {
    font-weight: 400;
    padding-left: 4px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    border-radius: 50px;
    padding-right: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.101);
}

.btn-div {
    display: flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn {
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    font-weight: 600;
    margin-right: 4px;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.911);
    justify-content: center;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.101);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-btn {
    height: 40px;
    background-color: rgba(17, 17, 17, 0.075);
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(75, 75, 75);
    justify-content: center;
    transition: all 0.1s;
    margin-left: 8px;
}

.soc-btn:hover {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.235);
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-left: 8px;
}

.logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 600px) {

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav.scrolled {
        position: fixed;
        top: 0;
        padding-bottom: 11px;
        padding-top: 11px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 1000;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.396);
        backdrop-filter: blur(10px);
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease, margin-top 0.2s ease;
    }

    .navpp {
        width: auto;
        margin-right: auto;
    }

    .pc {
        display: none;
    }

    navpp {
        margin-right: auto;
    }

    .btn-div {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        font-size: 16px;
    }

    #mobile {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin-right: 0px;
        right: 0px;
        left: auto;
        font-size: 15.7px;
    }


    .btn {
        height: 40px;
        padding-right: 0px;
        padding-left: 0px;
        width: 40px;
        border-radius: 50%;
    }

    .textver{
        display: none;
    }

    .hidden{
        display: none;
    }

}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.553); 
}
  
  .modal-content {
    padding-bottom: -6px;
    margin: 15% auto; 
    border-radius: 15px;
    padding: 15px;
    width: 248px;
    border: 1px solid #888;
    background-color: #e0e0e0;
  }
  
  .modal-content img{
    border-radius: 15px;
  }
  
  .modal-content a{
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.553); 
      }

      .modal-content {
        padding-bottom: -6px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 70%;
        border: 1px solid #888;
        background-color: #e0e0e0;
      }

      .modal-content img{
        margin-left: auto;
        margin-right: auto;
      }
  }