<div class="main">
    <div class="conta">
        <p class="text">Hello <img class="hello" src="/img/hello.png" alt=""> this is the</p>
        <p class="text2">world of <span class="name"> Eren</span> .</p>
        <p class="text3">I'm a Front-End developer, my name is Eren. I live in Turkey and I am dealing with all
            kinds of projects.</p>
    </div>
</div>
