<div class="proje">

    <div class="kutu">
        <div class="img-kt">
            <img class="kutu-img"
                src="https://avatars.githubusercontent.com/u/103275381?s=400&u=c3a74a230d0bfa6d30ebee09ffbb76ef4291a42e&v=4"
                alt="">
        </div>
        <div class="">
            <p class="kutu-bs">Gitpv</p>
            <p class="kutu-ac">Github Profili Görüntüleyicisi / Takip / Takipçi / Repo / Gists / Ve Daha Fazlası
            </p>

        </div>

        <div class="url-text">
            <a href="https://gitpv.xyz" target="_blank"><i class="fa-solid fa-link-simple"></i> https://gitpv.xyz</a>

        </div>

    </div>
</div>